# NOTE: deploy
# docker node update --label-add nginx=true `docker node inspect self --format "{{ .ID }}"`
# docker service update --label-add nginx.http.server-name=www.example.com <SERVICE-NAME>

services:
  nginx:
    image: ghcr.io/zerocluster/nginx
    depends_on: [postgresql]
    init: true
    stop_grace_period: 5m

    deploy:
      endpoint_mode: dnsrr
      replicas: 1
      placement:
        max_replicas_per_node: 1
        constraints:
          - "node.role == manager"
          - "node.labels.nginx == true"

    command: run

    secrets:
      - { source: nginx_env.yaml, target: /var/local/package/env.yaml }

    networks: [network]

    ports:
      - { published: 80, target: 80, mode: host }
      - { published: 443, target: 443, mode: host }
      # - { published: 8085, target: 8085, mode: host }
      # - { published: 5432, target: 5432, mode: host }

    volumes:
      - { type: tmpfs, target: /dev/shm, tmpfs: { size: 1073741824 } }
      - { type: bind, source: /var/run/docker.sock, target: /var/run/docker.sock }
      - { type: volume, source: nginx, target: /var/local/package/data }

    build:
      context: .
      args:
        NGINX_VERSION: latest
      secrets:
        - id=GITHUB_TOKEN,env=GITHUB_TOKEN

secrets:
  nginx_env.yaml: { file: env.yaml }

networks:
  network: ~

volumes:
  nginx: ~
